@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
#root {
  /* min-height: 100vh; */

  /* text-align: center; */
  /* padding: 0 160px 160px 160px; */
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter-gf {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.container-cus {
  max-width: 1440px;
  margin: 0 auto;
}
